.profile-page {
    height: 3000px;
}

.profile-avatar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;

    img { 
        width: 100%;
    }
}

.profile-name {
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    margin: 10px 0 5px 0;

}

.profile-username {
    font-size: 12px;
    text-align: center;
    font-weight: 200;
}

.profile-stats {
    width: 280px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px auto 25px auto;

    .stat-number {
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 2px 0;
    }

    .stat-label {
        font-size: 8px;
        font-weight: 100;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }
}

.actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px  0;

    .button-edit {
        width: 150px;
    }
}

.profile-bio {
    font-size: 13px;
    font-weight: 200;
    text-align: center;
    margin: 0 auto 5px auto;
    padding: 0 20px 0 20px;
    width: 340px;
}

.profile-link {
    font-size: 12px;
    font-weight: 350;
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube-icon {
    position: relative;
    top: 2px;
    margin: 0 6px 0 0;
}

.tab-container {
    width: 100%;
    margin: 25px 0 0 0;
    border-top: 1px solid  rgba(white, 0.1);
    border-bottom: 1px solid  rgba(white, 0.1);
    display: flex;
    
    .tab {
        height: 50px;
        font-size: 14px;
        font-weight: 200;
        border-bottom: 1px solid transparent;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-align: center;

        .tab-label {
            position: relative;
            top: -2px;
            opacity: 0.5;
        }

        &.active {
            font-weight: 500;
            border-bottom: 1px solid white;

            .tab-label {
                opacity: 1;
            }
        }
    }
}
