.app_navigation {
    position: fixed;
    bottom: 0;
    height: $navigationHeight;
    left: 0;
    right: 0;
    z-index: 100;
    background: $black;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
    transform: translateY(0px);

    .main_links_container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 15px;

        .main_link_container {
            &.add_jam  {
                position: relative;
                top: -5px;
            }
        }

        

        .link_wrapper {
            width:100%;
        }

        .link_icon {
            width: 50px;
            display: block;
            padding: 28px 0 0 0;
            display: flex;
            justify-content: center;

            
        }
    }

    &.hidden {
        transform: translateY(100px);
    }
}

.add-button {
    position: relative;
    top: 26px;
    width: 50px;
    display: flex;
    justify-content: center;
}