.bottom-slider-container {
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: $black;
    overflow-y: auto;
    transform: translateY(100%);
  
    .bottom-slider-content {
      margin: 58px 40px 40px 0;
    //   position: fixed;
    //   top: 0;
    //   right: 0;
    //   left: 0;
    //   bottom:0;
    //   overflow-y: auto;
    }
  }
  
  .bottom-slider-bar {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50%;
    overflow: hidden;
    transform: translateY(100%);
  
    &.bottom-slider-bar-1 {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
    }
  
    &.bottom-slider-bar-2 {
      bottom: 0;
      right: 0;
      width: 50%;
      height: 100%;
      transform: translateY(100%);
    }
}

.button-bancel {
    position: relative;
    z-index: 100;
    top: -2px;
    font-weight: 200;;
    cursor: pointer;
}

.button-done {
    position: relative;
    z-index: 100;
    height: 30px;
    background: #5C00FF;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    top: -2px;
    right: -10px;
    opacity: 0.5;
    transition: all 0.15s;
    cursor: pointer;

    &.button-ready {
      opacity: 1;
    }
}

.bottom-slider-header {
    position: fixed;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    top: 0;
    left: 0;
    right:0;
    background: $black;
    opacity: 0;
    max-width: 1000px;
    margin: 0 auto;
    // border-bottom:1px solid  rgba(255,255,255,0.1);

    .back-container{ 
        display: block;
        position: relative;
        opacity: 0;
        z-index: 2;

        // top: 20px;
        // left: 15px;
    }
}


.bottom-slider-title {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    font-size: 16px;
    font-weight: 350;
}